/* ================================================================== */
/* ==================== Auth : Login, Registration ================== */
/* ================================================================== */
body { background: #ffffff;}
section#login, 
section#register,
section#setupENV {
    height: 100dvh;
    position: relative;
}

#login-container, 
#register-container,
#setupENV-container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 14px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === Alert Card === */
.alert-card {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 10px;
}

/* === Caution === */
.caution {
    border-top: 1px solid #e4e4e7;
    border-right: 1px solid #e4e4e7;
    border-bottom: 1px solid #e4e4e7;
    border-radius: 4px;
    background: #ffffff;
    padding: 14px 16px 14px 10px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    box-shadow: 5px 0px 10px rgb(0 0 0 / 15%);
}

.caution-error {
    border-left: 3px solid #f7cc10 !important;
}

.caution-success {
    border-left: 3px solid green !important;
}

i.bx.bxs-error-circle {
    font-size: 14px;
    color: #ED4337;
}

i.bx.bxs-alarm-exclamation {
    font-size: 16px;
    color: rgb(247, 204, 16);
}

i.bx.bxs-check-circle {
    font-size: 16px;
    color: green;
}

.alert-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Sora';
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    column-gap: 6px;
    color: rgba(0, 0, 0, 0.8);
}

/* === Auth Card === */
.login-card, 
.register-card,
.setupENV-card {
    padding: 20px 20px;
    background: #ffffff;
    border: 1px solid #e4e4e7;
    border-radius: 8px;
    width: 360px;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

/* === App Logo === */
.app-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 18px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e4e4e7;
}

.app-logo img {
    vertical-align: middle;
    width: 100%;
}

/* === Auth Text === */
.login-texts, 
.register-texts {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

h1.text-welcome {
    font-family: 'Sora';
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 18px;
}

p.small-text {
    font-family: 'Sora';
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 13px;
}

/* === Auth Form === */
form.login-form,
form.register-form,
form.setupENV-form {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    row-gap: 18px;
}

/* === Groups & Split === */
.group-field {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.split-class {
    display: flex;
    align-items: center;
    column-gap: 18px;
    width: 100%;
}

/* === Inputs === */
input.db-host, input.db-username, input.db-password, input.db-name, 
input.login-manually, input.login-password,
input.register-name, input.register-email, input.register-username,
input.register-phonenumber, input.register-password, input.confirm-password {
    outline: none;
    height: 46px;
    border: 1px solid #c5c5c5;
    padding: 0 18px;
    border-radius: 8px;
    font-family: 'Sora', serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.1px;
}

input.login-manually, input.login-password {
    padding: 0 58px 0 18px !important;
}

input.is-invalid {
    border: 1px solid #ED4337 !important;
    transition: all 0.8ms ease-in-out;
}

i.is-invalid,
label.placeholder.is-invalid {
    color: #ED4337 !important;
    transition: all 0.8ms ease-in-out;
}

::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color : rgba(0, 0, 0, 0.6);
}

.placeholder {
    font-family: 'Sora';
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    padding: 1px 6px;
    letter-spacing: 0.1px;
}

.manually-icon,
.view-password {
    position: absolute;
    top: 8px;
    right: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-left: 1px solid #c5c5c5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

i.fa-solid.fa-at {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

i.fa-solid.fa-eye-slash,
i.fa-regular.fa-eye {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

/* === Selects === */
select.register-role,
select.register-priority,
select.register-status{
    outline: none;
    height: 46px;
    border: 1px solid #c5c5c5;
    padding: 0 18px;
    border-radius: 8px;
    font-family: 'Sora', serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.1px;
}

/* === Input Alert === */
.field-message {
    display: none; /* === Flex ===*/
    align-items: center;
    column-gap: 4px;
    font-family: 'Sora';
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    color: #ED4337;
}

/* === Auth Submit === */
button.login-submit,
button.register-submit,
button.setupENV-submit {
    outline: none;
    height: 44px;
    padding: 0 0 4px 0;
    color: #ffffff;
    border: none;
    background: linear-gradient(163deg, #0381a5, #24bfc2);
    font-family: 'Sora';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1px;
    border-radius: 8px;
    cursor: pointer;
}

i.bx.bx-key {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

/* === DB Setup Hover === */
input.db-host:focus,
input.db-username:focus,
input.db-password:focus,
input.db-name:focus {
    border: 1px solid var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

input.db-host:focus + .placeholder,
input.db-username:focus + .placeholder,
input.db-password:focus + .placeholder,
input.db-name:focus + .placeholder {
    color: var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

/* === Auth : Login Hover === */
input.login-manually:focus,
input.login-password:focus {
    border: 1px solid var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

input.login-manually:focus + .placeholder,
input.login-password:focus + .placeholder {
    color: var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

/* === Auth : Registration Hover === */
input.register-name:focus,
input.register-email:focus,
input.register-username:focus,
input.register-phonenumber:focus,
select.register-role:focus,
select.register-priority:focus,
select.register-status:focus,
input.register-password:focus,
input.confirm-password:focus {
    border: 1px solid var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

input.register-name:focus + .placeholder,
input.register-email:focus + .placeholder,
input.register-username:focus + .placeholder,
input.register-phonenumber:focus + .placeholder,
select.register-role:focus + .placeholder,
select.register-priority:focus + .placeholder,
select.register-status:focus + .placeholder,
input.register-password:focus + .placeholder,
input.confirm-password:focus + .placeholder{
    color: var(--app-third-color);
    transition: all 0.2s ease-in-out;
}

/* === Line === */
.line-container {
    display: flex;
    flex-direction: row;
    margin: 12px 0 10px 0;
    align-items: center;
}

.line {
    position: relative;
    content: '';
    width: 50%;
    height: 2px;
    background: #dbdbdb;
}

.line-text {
    font-family: 'Karla';
    font-weight: 600;
    font-size: 14px;
    padding: 2px 10px;
    color: rgba(0, 0, 0, 0.6);
}

/* === Have An Account === */
.haveAccount {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    flex-wrap: wrap;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 13px;
}

.haveAccount a {
    color: var(--app-third-color);
    text-decoration: none;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 13px;
}