/* ================= */
/* ===== Error ===== */
/* ================= */
#errorSection {
    overflow-y: hidden;
}

.error-content {
    width: 100%;
    height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ===== Error Box ===== */
.error-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 0px 10px;
}

img.error-image {
    vertical-align: middle;
    width: 100%;
}

span.error-text {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 600;
}

/* ===== Error Button ===== */
.error-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

a.home-link {
    padding: 12px 30px;
    background: var(--app-third-color);
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Karla';
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    text-transform: uppercase;
}

i.fas.fa-errors.fa-home {
    font-size: 14px;
    position: relative;
    padding: 0 8px 0 0;
}